<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/assets/css/style.css" rel="stylesheet"></link>
<script src="/assets/js/common.js"></script> 
<title> Resume</title>
</head>
<body>
<div id="main">
<div id="toc">
<a href="/">Resume</a> | <a href="game_projects">Game Projects</a> <!-- | <a href="misc">Misc. Projects</a> --> | <a href="code_sample">Code Samples</a>
</div>
{{ content }}
</div><!-- id="main" -->
<script language=javascript type='text/javascript'>
//Hide all the DIVs that shouldn't be expanded at the start.
//DisplayDIV('EmergenceTools', false);
</script>
</body>
</html>
